@model WorkstationBrowser.SessionReference.ProjectModel
@{Layout = null;}

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <td></td>
    <td></td>
    <td>

        @Html.TextBoxFor(model => model.precedence, new { @type = "range", value=50, min = 1, max = 100, @class = "form-control", style = "max-width:100% !important;" })
        @Html.ValidationMessageFor(model => model.precedence, "", new {@class = "text-danger"})

    </td>
    <td>
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
   </td> 

    <td> 

     </td>

    <td>
        <button type="submit"  class="btn btn-default">
            <span class=" glyphicon glyphicon-check"></span>
        </button>
        @Html.ActionLink(" ", "Index", null, new{@class="btn btn-default glyphicon glyphicon-remove"})
    </td>
}

