@using WorkstationBrowser.SessionReference
@model IEnumerable<WorkstationBrowser.SessionReference.ProjectModel>

@{
    ViewBag.Title = "Index";
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"] as Dictionary<String, bool>;
    AjaxOptions DeleteOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "RemoveRow"
    };
}

<p style="padding-top: 50px">
    <a id="new_task" class="btn btn-default glyphicon glyphicon-plus"></a>
</p>

<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            Priority
        </th>
        <th>
            Name
        </th>
        <th>
            Root
        </th>
        <th></th>
    </tr>
    <tr id="partial" style="display: none">
        @{ Html.RenderAction("Create"); }
    </tr>

@foreach (var item in Model) {
    String tdclass = "critical";
    var precedence = item.precedence;
    if (precedence >= 25 && precedence < 50)
    {
        tdclass = "urgent";
    } else if (precedence >= 50 && precedence < 75)
    {
        tdclass = "normal";
    } else if (precedence >= 75)
    {
        tdclass = "noturgent";
    }

    <tr>
        <td class="@(tdclass)">
            
        </td>
        <td style="vertical-align: middle;">

            @if (File.Exists(Path.Combine(Server.MapPath("~/UserContent/Project/"), item.projpic)))
            {
                <img src="~/UserContent/Project/@(item.projpic)"width="50" height="50" class="profile-image img-circle"/>
            }
        </td>

        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.precedence)
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.root)
        </td>

        <td style="vertical-align: middle;">
            @if (MyRights["IsAdmin"] || (((ProjectModel) ViewData["MyProject"]).id == item.id && !item.name.Equals("Aucun")))
            {
                @Html.ActionLink(" ", "Details", new {id = item.id}, new {@class = "btn btn-default glyphicon glyphicon-zoom-in"})
            }
            
            @if (MyRights["IsAdmin"]){
                @Ajax.ActionLink(" ", "Delete", new { id = item.id }, DeleteOptions, new { @class = "btn btn-default glyphicon glyphicon-remove", style="color:red;" })
            }
        </td>
    </tr>
}
    
</table>


<script>
    document.getElementById("new_task").onclick = function() {
        $("#partial").show();
        $("#new_task").hide();
    }

    function RemoveRow() {
        var $tr = $(this).closest('tr');
        $tr.remove();
    }
</script>
