@using WorkstationBrowser.SessionReference
@model IEnumerable<WorkstationBrowser.SessionReference.ProjectModel>

@{
    ViewBag.Title = "Index";
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"] as Dictionary<String, bool>;
       
}

<p style="padding-top: 50px">
    <a id="new_task" class="btn btn-default glyphicon glyphicon-plus"></a>
</p>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.root)
        </th>
        <th></th>
    </tr>
    <tr id="partial" style="display: none">
        @{ Html.RenderAction("Create"); }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align: middle;">
         
            @if (File.Exists(Path.Combine(Server.MapPath("~/UserContent/Project/"), item.projpic))){
                <img src="~/UserContent/Project/@(item.projpic)"width="50" height="50" class="profile-image img-circle"/>
            }
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.root)
        </td>

        <td style="vertical-align: middle;">

            @if (MyRights["IsAdmin"] || (((ProjectModel) ViewData["MyProject"]).id == item.id && !item.name.Equals("Aucun"))){
                @Html.ActionLink(" ", "Details", new {id = item.id}, new{@class="btn btn-default glyphicon glyphicon-zoom-in"})
            }
        </td>
    </tr>
}
    
</table>


<script>
    document.getElementById("new_task").onclick = function() {
        $("#partial").show();
        $("#new_task").hide();
    }
</script>