@model IEnumerable<WorkstationBrowser.Models.VerComparativeItem>


@{
    ViewBag.Title = "Changes";

    String Filename = TempData["Filename"].ToString();
    String Root = ViewData["Root"].ToString();
}

<h2> Changes </h2>


<a href="@Url.Action("ProjectDocuments", "Project",
             new {
                 project = (String)TempData["Project"],
                 projectid = (int)TempData["Projectid"]
             })" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span>
    
</a>


<hr/>
<div class="col-xs-12 col-lg-12 col-md-12" style="margin-bottom:10px">
    @{
        String[] lines = System.IO.File.ReadAllLines(Root + Filename);
        int myLine = 0;

        string className = "noChanges";

        <div class="col-xs-6 col-md-6 col-lg-6">
            @foreach (var line in lines)
            {
                <div class="row" style="background-color: black; color: white;">
                    <span style="text-align:center; float:left; width:20px; border-right: 1px solid aliceblue"></span>
                    <span style="text-align:center; float:left; width:20px; border-right: 1px solid aliceblue"> @myLine </span>
                    <span class="@className"> @Html.DisplayTextFor(Line => line) </span>
                </div>

                myLine++;
            }

        </div>

        lines = System.IO.File.ReadAllLines(Root + @"backup\" + Filename);
        myLine = 0;

        <div class="col-xs-6 col-md-6 col-lg-6">
            @foreach (var line in lines)
            {
                <div class="row" style="background-color: black; color: white;">
                    <span style="text-align:center; float:left; width:20px; border-right: 1px solid aliceblue"></span>
                    <span style="text-align:center; float:left; width:20px; border-right: 1px solid aliceblue"> @myLine </span>
                    <span class="@className"> @Html.DisplayTextFor(Line => line) </span>
                </div>

                myLine++;
            }

        </div>
    }

    <hr/>
</div>