@model WorkstationBrowser.SessionReference.UsersModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"]  as Dictionary<String, bool>;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UsersModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)


        <div class="form-group">
            <label class="col-md-2 control-label"> Username </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.username, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"> Rank  </label>
            @if (MyRights["CanEditDept"])
            {
                <div class="col-md-10">
                    @Html.DropDownList("rank", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.rank, "", new {@class = "text-danger"})
                </div>
            }
            else
            {
                <div class="col-md-10">
                    @Html.DropDownList("rank", null, htmlAttributes: new {@class = "form-control", disabled="disabled" })
                    @Html.HiddenFor(Model => Model.rank)
                </div>
            }
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label" > Email </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        
       
            <div class="form-group">
                <label class="col-md-2 control-label"> Team </label>
                @if (MyRights["CanEditTeam"]){
                    <div class="col-md-10">
                        @Html.DropDownList("team_id", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.team_id, "", new {@class = "text-danger"})
                    </div>
                }
                else {
                    <div class="col-md-10">
                        @Html.DropDownList("team_id", null, htmlAttributes: new {@class = "form-control", disabled="disabled" })
                        @Html.HiddenFor(Model => Model.team_id)
                    </div>
                }
            </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
           
                @Html.ActionLink(" ", "Index", new { limit = 25, offset = 0 }, new { @class = "btn btn-default glyphicon glyphicon-remove" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<div id="selfUpdatedProfile" class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Your modifications</h4>
            </div>
            <div class="modal-body">
                <p>Your profile has been updated, if you desire to update the UI, please relog.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>