@using WorkstationBrowser.Controllers.SignalR
@model IEnumerable<WorkstationBrowser.SessionReference.UsersModel>

@{
    ViewBag.Title = "Index";
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"] as Dictionary<String, bool>;
    
}


@if (ViewData["Offsets"] != null)
{
    <div class="row" style="margin-top:20px">
        <div class="col-lg-1 col-xs-1 col-md-1">
  
            @if(((int)ViewData["CurrentOffset"]) > 0){
                @Html.ActionLink( " ", "Index", "Users", new{limit = 25, offset = ((int)ViewData["CurrentOffset"]) - 1 }, new{ @class = "pull-left btn btn-default glyphicon glyphicon-arrow-left" })
            }
           
        </div> 
        <div class="section-scroll-3 col-md-10 col-xs-10 col-lg-10">
            @for (int i = 0; i < (int) ViewData["Offsets"]; ++i)
            {
                string activeClass = "";
                if ((int) ViewData["CurrentOffset"] == i)
                {
                    activeClass = "active-tab";
                }
                @Html.ActionLink(i+"", "Index", "Users", new{limit = 25, offset=i}, new{ @class = $"btn btn-default {activeClass}" })
            }
        </div>
        <div class="col-lg-1 col-xs-1 col-md-1">
            @if(((int)ViewData["CurrentOffset"]) < (int)ViewData["Offsets"])
            {
                @Html.ActionLink( " ", "Index", "Users", new{limit = 25, offset = ((int)ViewData["CurrentOffset"]) + 1 }, new{ @class = "pull-right btn btn-default glyphicon glyphicon-arrow-right" })
            }
    
        </div>
    </div>
    <hr />

}

<div class="row" style="margin-bottom:20px">
    @using (Html.BeginForm()){


        @Html.TextBox("filter", "Search...", new{@class="pull-right form-control"})
        <button type="submit" class="pull-right  btn btn-default">
            <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new { @class = "glyphicon glyphicon-sort-by-alphabet btn btn-default" })

        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new{@class= "glyphicon glyphicon-sort-by-alphabet btn btn-default" })
            Username
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new{@class= "glyphicon glyphicon-sort-by-alphabet btn btn-default" })
            Email
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new{@class= "glyphicon glyphicon-sort-by-alphabet btn btn-default" })
            Rank
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new { @class = "glyphicon glyphicon-sort-by-alphabet btn btn-default" })

        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/UserContent/Profile/@(item.profilepic)" width="50" height="50" class="profile-image img-circle"/>
                @{
                    String status = "offline";
                    if (NotificationHub.MyUsers.ContainsKey(item.username)){
                        status = "online";
                    }
                }
                <img src="~/Content/images/@(status).png" width="15" height="15" class="status-img img-circle"/>
            
            </td>
            <td style="vertical-align: middle;"> @Html.DisplayFor(modelItem => item.username) </td>
            <td style="vertical-align: middle;"> @Html.DisplayFor(modelItem => item.email) </td>

            <td style="vertical-align: middle;"> @Html.DisplayFor(modelItem => item.rank) </td>
            <td style="vertical-align: middle;">

                @if ((item.rank.Equals("Administrators") && MyRights["IsAdmin"])
                     || (!item.rank.Equals("Administrators") && MyRights["CanEditUser"])
                     || item.id == int.Parse(ViewData["MyId"].ToString()))
                {
                    @Html.ActionLink(" ", "Edit", new {id = item.id}, new {@class = "btn btn-default glyphicon glyphicon-cog"})
                }

            </td>
        </tr>

    }
</table>
