@model WorkstationManagementServices.Models.SystemInfoModel

@{
    ViewBag.Title = "Master page ";
}

<div class="jumbotron">
    <h1> Workstation main administration page</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Services states</h2>
        
        @if (Model.WebSites != null){
            foreach (var item in Model.WebSites)
             {
                 <p>
                     Data sources : @Html.DisplayFor(model => item.Name)
                 </p>
                 <p>
                     Server version : @Html.DisplayFor(model => item.PhysicalPath)
                 </p>
                 <p>
                     Database info : @Html.DisplayFor(model => item.State)
                 </p>
             }
        }
        else {
            <p> Could not list the related services, please increase the security level. </p>
        }
        <h2> Database state </h2>
        
        @foreach (var item in Model.Databases)
        {
            <p>
                Data sources : @Html.DisplayFor(model => item.DataSource)
            </p>
            <p>
                Server version : @Html.DisplayFor(model => item.ServerInfo)
            </p>
            <p>
                Database info : @Html.DisplayFor(model => item.Database)
            </p>
            <p>
                Current state : @Html.DisplayFor(model => item.State)
            </p>
        }


    </div>
</div>