@model WorkstationManagementServices.Models.Database.Users

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
           Encrypted Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encrypted)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Creation Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationdate)
        </dd>

        <dt>
            Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(" ", "Index", new { }, new { @class = "glyphicon glyphicon-th-list" })

        </div>
    }
</div>
