@model WorkstationManagementServices.Models.Database.Users

@{
    ViewBag.Title = "Details";
}

<h2> @Html.DisplayFor(model => model.username)</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            Encrypted Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encrypted )
        </dd>

        <dt>
            Email address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Creation Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationdate)
        </dd>

        <dt>
           Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.id }, new { @class = "glyphicon glyphicon-cog" }) | 
    @Html.ActionLink(" ", "Index", new { }, new { @class = "glyphicon glyphicon-th-list" })
</p>
