@model IEnumerable<WorkstationManagementServices.Models.Database.Users>

@{
    ViewBag.Title = "Index";
}

<h2> Users </h2>

<p>
    @Html.ActionLink(" ", "Create", new { }, new { @class = "glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email address
        </th>
        <th>
            Create date
        </th>
        <th>
            Team
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.name)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-cog" }) | 
           
            @Html.ActionLink(" ", "Details", new {id = item.id}, new { @class = "glyphicon glyphicon-zoom-in" }) |
            @Html.ActionLink(" ", "Delete", new {id = item.id}, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
