@using WorkstationBrowser.SessionReference
@model WorkstationBrowser.SessionReference.TeamModel

@{
    ViewBag.Title = "Details";
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"] as Dictionary<String, bool>;
    String manager = "None";
    int managerid = 0;
    if (ViewData["Manager"] != null) {
        manager = ((UsersModel) ViewData["Manager"]).username;
        managerid = (int)((UsersModel) ViewData["Manager"]).id;
    }


}

<h2>@(Model.name)</h2>


<p style="padding-top: 10px;">
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default glyphicon glyphicon-arrow-left" })
    @Html.ActionLink(" ", "Edit", new { id = Model.id }, new { @class = "btn btn-default glyphicon glyphicon-cog" })

</p>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <img src="~/UserContent/Team/@(Model.teampic)" width="150" height="150" class="profile-image img-circle" />
    </div>  
</div>

@if (MyRights["CanEditTeam"])
{
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12" align="center">
            @using (Html.BeginForm("FileUpload", "Team", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.HiddenFor(model => model.id)
                ;
                <div class="col-md-12 col-lg-12 col-xs-12" style="padding-top: 20px">
                    <label for="file">Edit Team picture </label>
                    <input type="file" name="file" id="file" style="width: 100%;"/>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12" style="padding-top: 20px">
                    <button type="submit" class="btn btn-default">
                        <span class="fa fa-cloud-upload fa-2x"></span>
                    </button>
                </div>
            }
        </div>
    </div>
}

<div class="row" style="padding-top:100px">
    <div class="col-lg-7 col-md-4 col-xs-12"  >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <h4><strong>Department</strong> <span class="pull-right">@(((DepartmentModel)ViewData["Department"]).name)</span></h4>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
            <h4><strong>Project</strong> <span class="pull-right">@(((ProjectModel)ViewData["Project"]).name)</span></h4>
        </div>

        <div class="col-md-12 col-lg-12 col-xs-12">
            <h4><strong>Manager</strong> <span class="pull-right">@(manager)</span> </h4>
        </div>
    </div>
    <div class="col-lg-5 col-md-8 col-xs-12 pull-right">
            <h3> Active members</h3>
            <hr/>
            @foreach (var user in (UsersModel[])ViewData["ActiveMembers"])
            {
                string cManager = "";
                string header = user.username;
                string contactLink =  (Html.ActionLink(" ", "Index", "Message", new {to = user.id}, new {@class = "btn btn-default glyphicon glyphicon-envelope"})).ToHtmlString();
                string chatLink = "<a href='#' class='btn btn-default glyphicon glyphicon-comment'> </a>";
                bool isManager = user.id == managerid;
                if (isManager) {
                    cManager = "manager";
                    header = $"[TEAM MANAGER] {user.username}";
                }

                <div class="col-md-3 col-lg-2 col-xs-3">
                    <a  data-toggle="popover" data-trigger="click" 
                        data-content="<b> Rank: </b> @(user.rank) <br/> <b> Email: </b> @(user.email) <hr/> @(contactLink) @(chatLink)"  
                        data-title="@(header)">
                        <img src="~/UserContent/Profile/@(user.profilepic)"
                             class=" profile-image img-circle @(cManager)"
                             width="100" height="100"/>
                    </a>
                    
                </div>
            }
        </div>
    </div>
  
