@model WorkstationBrowser.SessionReference.TeamModel

@{
    ViewBag.Title = "Details";
    Dictionary<String, bool> MyRights = ViewData["CurrentUserRights"] as Dictionary<String, bool>;        
}

<h2>Details</h2>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <img src="~/UserContent/Team/@(Model.teampic)" width="150" height="150" class="profile-image img-circle" />
    </div>  
</div>

@if (MyRights["CanEditTeam"])
{
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12" align="center">
            @using (Html.BeginForm("FileUpload", "Team", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.HiddenFor(model => model.id)
                ;
                <div class="col-md-12 col-lg-12 col-xs-12" style="padding-top: 20px">
                    <label for="file">Edit Team picture </label>
                    <input type="file" name="file" id="file" style="width: 100%;"/>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12" style="padding-top: 20px">
                    <button type="submit" class="btn btn-default">
                        <span class="fa fa-cloud-upload fa-2x"></span>
                    </button>
                </div>
            }
        </div>
    </div>
}

<div class="row">
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>