@using WorkstationBrowser.SessionReference
@model IEnumerable<WorkstationBrowser.SessionReference.TeamModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            Name
        </th>
        <th>
            Project
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align: middle;">
         
            @if (File.Exists(Path.Combine(Server.MapPath("~/UserContent/Team/"), item.teampic))){
                <img src="~/UserContent/Team/@(item.teampic)"width="50" height="50" class="profile-image img-circle"/>
            }
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style="vertical-align: middle;">
            @if (item.project_id != null)
            {
                @Html.Raw(((ProjectModel[]) ViewData["AllProjects"]).Single(project => project.id == item.project_id).name) 
            }
        </td>
        <td style="vertical-align: middle;">
            @Html.Raw(((DepartmentModel[]) ViewData["AllDepartments"]).Single(department => department.id == item.department_id).name)

        </td>

        <td style="vertical-align: middle;">
            @{
                if (!item.name.Equals("Not affected") && !item.name.Equals("Non affecté") && item.id == long.Parse(ViewData["TeamId"].ToString()))
                {
                    @Html.ActionLink("Details", "Details", new {id = item.id}) 

                }
            }
        
        </td>
        
     
    </tr>
}

</table>
