@using WorkstationBrowser.SessionReference
@model IEnumerable<WorkstationBrowser.SessionReference.TeamModel>

@{
    ViewBag.Title = "Index";
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"] as Dictionary<String, bool>;
       
}


@if (ViewData["Offsets"] != null)
{
    <div class="row" style="margin-top:20px">
        <div class="col-lg-1 col-xs-1 col-md-1">
            @if(((int)ViewData["CurrentOffset"]) > 0){
                @Html.ActionLink( " ", "Index", "Team", new{limit = 25, offset = ((int)ViewData["CurrentOffset"]) - 1 }, new{ @class = "pull-left btn btn-default glyphicon glyphicon-arrow-left" })
            }
        </div>
        <div class="section-scroll-3 col-md-10 col-xs-10 col-lg-10">
            @for (int i = 0; i < (int)ViewData["Offsets"]; ++i)
            {
                string activeClass = "";
                if ((int) ViewData["CurrentOffset"] == i)
                {
                    activeClass = "active-tab";
                }
                @Html.ActionLink(i + "", "Index", "Team", new { limit = 25, i }, new { @class = $"btn btn-default {activeClass}" })
            }
        </div>
        <div class="col-lg-1 col-xs-1 col-md-1">
        @if (((int) ViewData["CurrentOffset"]) < (int) ViewData["Offsets"])
        {
            @Html.ActionLink(" ", "Index", "Team", new {limit = 25, offset = ((int) ViewData["CurrentOffset"]) + 1}, new {@class = "pull-right btn btn-default glyphicon glyphicon-arrow-right"})
        }
        </div>
    </div>
    <hr />
    
  
       
}

<div class="row" style="margin-bottom: 20px">
    @Html.ActionLink(" ", "Create", null, new{@class= "pull-left btn btn-default glyphicon glyphicon-plus" })

    @using (Html.BeginForm())
    {


        @Html.TextBox("filter", "Search...", new {@class = "pull-right form-control"})
        <button type="submit" class="pull-right  btn btn-default">
            <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
    }
</div>

<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new{@class= "glyphicon glyphicon-sort-by-alphabet btn btn-default" })
            Name
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new{@class= "glyphicon glyphicon-sort-by-alphabet btn btn-default" })
            Project
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new{@class= "glyphicon glyphicon-sort-by-alphabet btn btn-default" })
            Department
        </th>
        <th>
            @Ajax.ActionLink(" ", "Index", null, null, new { @class = "glyphicon glyphicon-sort-by-alphabet btn btn-default" })

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="vertical-align: middle;">
         
            @if (File.Exists(Path.Combine(Server.MapPath("~/UserContent/Team/"), item.teampic))){
                <img src="~/UserContent/Team/@(item.teampic)"width="50" height="50" class="profile-image img-circle"/>
            }
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style="vertical-align: middle;">
            @if (item.project_id != null)
            {
                @Html.Raw(((ProjectModel[]) ViewData["AllProjects"]).Single(project => project.id == item.project_id).name) 
            }
        </td>
        <td style="vertical-align: middle;">
            @Html.Raw(((DepartmentModel[]) ViewData["AllDepartments"]).Single(department => department.id == item.department_id).name)

        </td>

        <td style="vertical-align: middle;">
            @{
                if (MyRights["IsAdmin"] || (!item.name.Equals("Not affected") && !item.name.Equals("Non affecté") && item.id == long.Parse(ViewData["TeamId"].ToString())))
                {
                    @Html.ActionLink(" ", "Details", new {id = item.id}, new{@class="btn btn-default glyphicon glyphicon-zoom-in"}) 

                }

                if (MyRights["IsAdmin"] || MyRights["CanEditTeam"])
                {
                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { style="color:red",@class = "btn btn-default glyphicon glyphicon-remove" })

                }
            }
        
        </td>
        
     
    </tr>
}

</table>
