@model IEnumerable<WorkstationManagementServices.Models.Database.Rank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(" ", "Create", new { }, new { @class = "glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            Rank
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.name }, new { @class = "glyphicon glyphicon-cog" }) |

            @Html.ActionLink(" ", "Details", new { id = item.name }, new { @class = "glyphicon glyphicon-zoom-in" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.name }, new { @class = "glyphicon glyphicon-trash" })


        </td>
    </tr>
}

</table>
