@model IEnumerable<WorkstationBrowser.SessionReference.NotificationModel>

@{
    ViewBag.Title = "Notifications";
}


<hr/>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        @Html.ActionLink(" ", "Index","Notifications", new { unreadfirst = false, hideread = true, hideunread = false}, new{@class= "btn btn-default glyphicon glyphicon-envelope" })
        @Html.ActionLink(" ", "Index","Notifications", new { unreadfirst = false, hideread = false, hideunread = true}, new { @class = "btn btn-default glyphicon glyphicon-check" })
        @Html.ActionLink(" ", "Index", "Notifications", new { unreadfirst = false, hideread = false, hideunread = false }, new { @class = "btn btn-default glyphicon glyphicon-list" })


    </div>
</div>
<hr/>


<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>
   
    @for (int i = 0; i < Model.Count(); i++){
        using (Html.BeginForm("Index","Notifications", FormMethod.Post)) {
        @Html.ValidationSummary(true)
            String notificationClass ="notification-notread";
            if (Model.ElementAt(i).read)
            {
                notificationClass = "notification-read";
            }
            <tr >
                <td class="@(notificationClass)">
                    
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).stamp)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).title)
                    @Html.HiddenFor(m => Model.ElementAt(i).title)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).content)
                    @Html.HiddenFor(m => Model.ElementAt(i).content)
                </td>
                <td style="vertical-align: middle;">
                    @if (Model.ElementAt(i).read)
                    {
                        @:Read
                    }
                    else
                    {
                        @:Not Read
                    }

                    @Html.HiddenFor(m => Model.ElementAt(i).id)
                    @Html.HiddenFor(m => Model.ElementAt(i).read)
                </td>
                <td style="vertical-align: middle;">
                    @if (!Model.ElementAt(i).read)
                    {
                        <button type="submit" class="btn btn-default" name="NotificationUpdater" value="Read">
                            <i class="glyphicon glyphicon-check"></i>
                        </button>
                    }
                    <button type="submit" class="btn btn-danger pull-right" name="NotificationUpdater" value="Delete">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                </td>
            </tr>
        }
    }
</table>
