@model IEnumerable<WorkstationBrowser.SessionReference.TaskModel>

@{
    
    Dictionary<String, bool> MyRights = ViewData["CurrentUserRights"] as Dictionary<String, bool>;
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Begin
        </th>
        <th>
            End
        </th>
    @{
        if (ViewData["AddSection"] != null)
        {
            <th>
                User
            </th>
        }
    }

        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.begin, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.ValueFor(modelItem => item.end, "{0:dd/MM/yyyy}")
            </td>
        @{
            if (ViewData["AddSection"] != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.user_id)
                </td>
            }
        }
            </tr>
    }
    @{
        if (ViewData["AddSection"] != null && MyRights["CanEditTask"] ){
            <tr>
                <td>
                    <button id="new_task" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>

                </td>
            </tr>
        }
    }
</table>

@{
    if (ViewData["AddSection"] != null && MyRights["CanEditTask"])
    {
        <div id="partial" style="display: none">
            @{ Html.RenderAction("_Create"); }
        </div>

        <script>
            document.getElementById("new_task").onclick = function() {
                $("#partial").show();
                $("#new_task").hide();
            }
        </script>
    }
}
