@model IEnumerable<WorkstationBrowser.SessionReference.TaskModel>

<p>
  
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Begin
        </th>
        <th>
            End
        </th>
        <th>
            User
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ValueFor(modelItem => item.begin, "{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.ValueFor(modelItem => item.end, "{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>

    </tr>
}

</table>
